@font-face {
    font-family: "Axiforma";
    src: url(assets/fontes/Axiforma/Axiforma-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Revolin";
    src: url(assets/fontes/Revolin/Revolin\ Black.otf) format("opentype");
}

h1 {
    font-family: "Axiforma";
    color: #000;
}

h2 {
    font-family: "Axiforma";
    color: #000;
}

h3 {
    font-family: "Axiforma";
    color: #000;
}

h4 {
    font-family: "Axiforma";
    color: #000;
}

h5 {
    font-family: "Axiforma";
    color: #000;
}

h6 {
    font-family: "Axiforma";
    color: #000;
}

h1#teste {
    font-family: "Revolin";
    color: #000;
}

h2#teste {
    font-family: "Revolin";
    color: #000;
}

h3#teste {
    font-family: "Revolin";
    color: #000;
}

h4#teste {
    font-family: "Revolin";
    color: #000;
}

h5#teste {
    font-family: "Revolin";
    color: #000;
}

h6#teste {
    font-family: "Revolin";
    color: #000;
}